:root{
    --page-bgcolor: rgba(74, 154, 246, 0.600);
    --nav-bgcolor: none;
    --nav-dropdown-title-fontsize: 14px;
    --test-border-line: 2px solid black;
    --login-height: 400px;
    --pd-area--margin: 10px;
    --pd-area--padding: 20px;
    --pd-area--bgcolor: #f0f0f0;
    --pd-area--border: 1px solid #ccc;
    --pd-area--bdradius: 20px;
    --pd-area--boxshadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    --shortPD--height: auto;
    --fullPD--height: auto;
    --cart-area--margin: 10px;
    --cart-area--padding: 20px;
    --cart-area--bgcolor: #f0f0f0;
    --cart-area--border: 1px solid #ccc;
    --cart-area--bdradius: 20px;
    --cart-area--boxshadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.test-MT {
    border: var(--test-border-line);

}



body {
    background-color: var(--page-bgcolor);
}

.nav__dropdowns-title--font {
    font-size: var(--nav-dropdown-title-fontsize);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.nav__button-cart--shape{
    border-radius: 99px;
    padding: 7px;
    background-color: orange;
}


.header-containerA {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    
}

.header-containerA-item--st{
    min-width: 100%;
    background-image: linear-gradient(rgb(25, 129, 249),rgba(36, 158, 252, 0.701));
    padding-top: 50px;
}

.header__button-member--st {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding-right: 40px;
}

.body-containerB-item--st{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body-containerC {
    display: grid;
    grid-auto-columns: 100%;
    margin-top: 10px;
    padding: 15px;
}


.body-containerC-A1 {
    display: grid;
    grid-template-columns: repeat(12, 7.9%);
    grid-template-rows: 60px 60px;
    min-width: 110px;
    gap: 5px;
}

.body-C-A1--skin {
    border-radius: 20px;
}

.body-C-A1-box1--area {
    grid-row: 1 / span 2;
    grid-column: 4 / span 2;
}

.body-C-A1-box2--area {
    grid-row: 1 / span 2;
    grid-column: 6 / span 2;
}
.body-C-A1-box3--area {
    grid-row: 1 / span 2;
    grid-column: 8 / span 2;
}
/*.body-C-A1-box4--area {
    grid-row: 1 / span 2;
    grid-column: 8 / span 2;
}
.body-C-A1-box5--area {
    grid-row: 1 / span 2;
    grid-column: 10 / span 2;
}
*/
.body-containerD {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.body-containerD-A1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 15% ;
    padding-right: 15% ;
}

.body-D-A1-style {
    border-radius: 50px;
}

.footer-containerE {
    padding: 20px;
    height: auto;
    width: 100%;
}

.footer-containerE-A1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.footer-containerE-A1-item1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-containerF--area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
}

.body-containerF-login {
    border: 2px solid grey;
    width: 500px;
    height: var(--login-height);
    background-color: rgb(166, 252, 252);
    margin: 20px;
}

.body-containerF-login--area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: var(--login-height);
}

.body-containerF-login__form-input {
    align-self: center;
    justify-self: center;
}

.body-containerF-login__form-other {
    align-self: start;
    justify-self: center;
}

.body-containerG--area {
    display: flex;
    flex-wrap: wrap;
}

.body-containerG-products {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
}

.body-containerG-products > a {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.body-containerG-products > a:hover {
    background-color: #0056b3;
}

.body-containerG-products > img{
    width: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.body-containerG-products > h2 {
    margin: 0 0 15px;
}

.body__nav-paginate {
    margin: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.body-containerH--st {
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: auto auto auto auto auto auto;
}

.body-containerH--area {
    margin : var(--pd-area--margin);
    padding: var(--pd-area--padding);
    background-color: var(--pd-area--bgcolor);
    border : var(--pd-area--border);
    border-radius: var(--pd-area--bdradius);
    box-shadow: var(--pd-area--boxshadow);
    height: fit-content;
}

.body-containerH-mainPD--occupied {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.body-containerH-shopDT--occupied {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    height: 150px;
}

.body-containerH-shortPD--occupied {
    grid-column: 1 / span 8;
    grid-row: 3 / span 1;
    height: var(--shortPD--height);
}

.body-containerH-fullPD--occupied {
    grid-column: 1 / span 8;
    grid-row: 4 / span 1;
    height: var(--fullPD--height);
}

.body-containerH-sidePDDT--occupied {
    grid-column: 9 / span 4;
    grid-row: 3 / span 2;
    height: calc(var(--shortPD--height)+var(--fullPD--height));
}

.body-containerH-customers--occupied {
    grid-column: 1 / span 12;
    grid-row: 5 / span 2;
    height: 400px;
}



.mainPD--area {
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% ;
    grid-template-rows: auto auto auto auto;
}

.mainPD-title {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 10px
}

.mainPD-img {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    text-align: center;
    display: grid;
    justify-items: center;
    padding: 5px;
}

.mainPD-cond {
    grid-column: 5 / span 8;
    grid-row: 2 / span 2;
}

.mainPD-share {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.mainPD-cond--area {
    display: grid;
    grid-template-columns: 50% 50%;
}

.mainPD-cond--occupied {
    grid-column: 1 / span 2;
    word-wrap: break-word ;
}

.mainPD-cond-volume--area {
    display: flex;
    gap: 5px;
}

.mainPD-cond-volume--style {
    text-align: center;
    align-self: center;
    padding: 5px;
}

.mainPD-cond-volume--marginR1 {
    margin-right: 30px;
}

.mainPD-cond-volume--marginL1 {
    margin-left: 30px;
}

.mainPD-cond-volume--PaddingRL1 {
    padding-left: 5px;
    padding-right: 5px;
}

.mainPD-cond-respond--area {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 5px;
    margin: 20px;
}

.mainPD-cond-respond--style {
    text-align: center;
    align-self: center;
    padding: 5px;
}

.shopDT-details {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.shopDT-details--fontstyle {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(113, 184, 251, 0.79);
    font-weight: bold;
}

.fullPD-detail--area {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    margin: 5px;
    word-wrap: wrap;
    height: fit-content;
}

.fullPD-detailA {
    justify-self: left ;
    width: 100%;
    word-wrap:break-word;
    height: fit-content;
}

.customerPD--area {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto auto auto auto auto auto;
    height: fit-content;
}

.customerPD--style {

}

.customerPD-pic {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
}

.customerPD-user {
    grid-area: 1 / 2 / 1 / 2;
}

.customerPD-date {
    grid-area: 2 / 2 / 2 / 2;
}

.customerPD-star {
    grid-area: 3 / 2 / 3 / 2;
}

.customerPD-comment {
    grid-area: 4 / 2 / 4 / 2;
}


.body-containerI--st {
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: auto ;
}

.body-containerI--area {
    margin : var(--cart-area--margin);
    padding: var(--cart-area--padding);
    background-color: var(--cart-area--bgcolor);
    border : var(--cart-area--border);
    border-radius: var(--cart-area--bdradius);
    box-shadow: var(--cart-area--boxshadow);
    height: fit-content;
}

.body-containerI-cart--occupied {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}


.cartPD--area {
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% ;
    grid-template-rows: auto auto ;
}

.cartPD-title {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 10px
}

.cartPD-img {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    text-align: center;
    display: grid;
    justify-items: center;
    align-self: center;
    padding: 5px;
}

.cartPD-cond {
    grid-column: 3 / span 10;
    grid-row: 2 / span 1;
}

.cartPD-cond--area {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto auto;
}

.cartPD-cond--style {
    margin : var(--cart-area--margin);
    padding: var(--cart-area--padding);
    background-color: var(--cart-area--bgcolor);
    border : var(--cart-area--border);
    border-radius: var(--cart-area--bdradius);
    box-shadow: var(--cart-area--boxshadow);
    height: fit-content;
}

.cartPD-cond-sec1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
}

.cartPD-cond-sec1-name {
    grid-area: 1 / 1 / 1 / 2;
}

.mainPD-cond-sec1-SKU {
    grid-area: 2 / 1 / 2 / 2;
    
}

.mainPD-cond-sec1-Delivery{
    grid-area: 3 / 1 / 3 / 2;
    
}

.mainPD-cond-sec1-desc {
    grid-area: 4 / 1 / 4 / 2;
    
}

.cartPD-cond-sec2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
    align-self: center;
    justify-self: center;
}

.cartPD-cond-sec2-volume--area {
    display: flex;
    gap: 5px;
}

.cartPD-cond-sec2-volume--style {
    text-align: center;
    align-self: center;
    padding: 5px;
}

.cartPD-cond-sec2-volume--PaddingRL1 {
    padding-left: 5px;
    padding-right: 5px;
}

.cartPD-cond-sec3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 4;
    align-self: center;
}

.cartPD-cond-sec4 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 4;
    align-self: center;
    justify-self: center;
}

.mainPD-cond-sec4-Delivery {
    font-size: 30px;
}

.body-containerI-summaryPD--occupied {
    grid-column: 9 / span 4;
    grid-row: 2 / span 1;
    border: 2px solid black;
}

.summaryPD--area {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto auto auto ;
    
}

.summaryPD-sumPrice {
    grid-area: 1 / 1 / 1 / 2;
}

.summaryPD-vat {
    grid-area: 2 / 1 / 2 / 2;
}

.summaryPD-sumPrice {
    grid-area: 3 / 1 / 3 / 2;
}
.summaryPD-submit {
    grid-area: 3 / 1 / 3 / 2;
}

.deliverPD--area {
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% ;
    grid-template-rows: auto auto auto auto auto ;
    gap: 10px;
    margin: 10px;
}

.deliverPD-title {
    grid-column: 2 / span 9;
    grid-row : 1 / span 1;
    justify-self: center;
    font-size: 30px;
}

.deliverPD__form {
    grid-column: 2 / span 5;
    grid-row: 3 / span 1;
    justify-content: space-between;
}

.deliverPD__form-addr {
    display: flex;
    align-items:baseline;
}
